@tailwind base;

@layer base {
}

.rtl {
  @apply font-ar;
  direction: rtl;
}

.rtl .title {
  @apply font-ar-title;
  font-family: NotoKufi;
}

.bg-top-header {
  background-image: url(/images/hero-bg-ltr.png);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: right top;
}

.rtl .bg-top-header {
  background-image: url(/images/hero-bg-rtl.png);
  background-position: left top;
}
.amharic {
  @apply font-am;
}

.amharic .title {
  @apply font-am;
  font-weight: bold;
}

select {
  @apply w-full mt-2 py-2 px-4 bg-gray-100 text-gray-700 border border-gray-300 rounded  block;
}

.brmg-container {
  @apply max-w-7xl mx-auto px-2 sm:px-4;
}
@tailwind components;
@tailwind utilities;
