@tailwind base;

@layer base {
    
}


.rtl {
    @apply font-ar;
    direction: rtl;
}

.rtl .title {
    @apply font-ar-title;
    font-family: NotoKufi;
}

.amharic {
    @apply font-am;
}

.amharic .title {
    @apply font-am;
    font-weight: bold;
}

select {
    @apply w-full mt-2 py-2 px-4 bg-gray-100 text-gray-700 border border-gray-300 rounded  block;
}


@tailwind components;
@tailwind utilities;